.survey_page {
    display: flex;
    flex:1;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.survey_ad{
    width: 100%;
    margin-bottom: 10px;
}

.survey_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}